.device-page {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
}

.device-page-board {
      border: 2px solid black;
      border-radius: 20px;
      height: 70vh;
      width: 70vw;
      background-color: white;
      display: flex;
      flex-direction: column;
}

.device-catergory {
      margin-top: 10%;
      display: flex;
      justify-content: space-around;
}

.devices {
      width: calc(100%/3.0 - 10%);
      height: 100%;
      border: 2px solid black;
      border-radius: 20px;
}

.devices>*:active {
      color: rgb(123, 123, 123);
}

.device_image {
      margin-top: 10px;
      height: 100%;
      width: 100%;
      max-width: 150px;
      max-height: 150px;
}

.choose-device {
      margin-top: 20px;
      margin-bottom: 50px;
}

/* @media (max-height:900px) {

      .choose-device {
            margin-top: 20px;
            margin-bottom: 10px;
      }

      .device-catergory {
            margin-top: 10px;
            height: 70%;
      }

      .devices {
            width: 20%;
            height:50%;
      }

      .devices>* {
            font-size: 20px;
      }
} */

@media (max-height:700px) and (min-width:1024px) {

      .choose-device {
            margin-top: 10px;
            margin-bottom: 5px;
      }

      .device-catergory {
            margin-top: 5px;
            height: 70%;
      }

      .devices {
            width: 20%;
            height: 50%;
      }

      .device_image {
            height: 50%;
            width: 50%;
      }

      .devices>* {
            font-size: 20px;
      }
}

/* @media (max-height:800px) and (max-width:768px) {

      .choose-device {
            margin-top: 20px;
            margin-bottom: 10px;
      }

      .device-catergory {
            margin-top: 10px;
            height: 70%;
      }

      .devices {
            width: 50%;
            height: 50%;
      }

      .device_image {
            height: 50%;
            width: 50%;
      }

      .devices>* {
            font-size: 20px;
      }
} */

@media ((max-width:1024px) and (max-height:900px)) or (max-width:768px) {
      .device-catergory {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin-top: 0;
      }

      .device-page {
            height: 100%;
      }

      .device-page-board {
            width: 70%;
            height: 70%;
      }

      .devices {
            margin-top: 20px;
            width: 30%;
      }

      .devices:last-child {
            margin-bottom: 20px;
      }

      .choose-device {
            margin-top: 20px;
            margin-bottom: 20px;
      }

      .device_image {
            height: 50%;
            width: 50%;
      }
}

/* @media (max-width:768px) {
      .device-catergory {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
      }

      .devices {
            margin-top: 20px;
            width: 30%;
      }

      .device_image {
            height: 50%;
            width: 50%;
      }

} */