.board {
      border: 2px solid black;
      border-radius: 20px;
      background-color: white;
}

.cancel {
      color: white;
      background-color: red;
      border: 1px solid black;
      border-radius: 10px;
      font-size: 1.2rem;
}

.cancel:active {
      background-color: rgb(255, 144, 144);
}

.confirm,
.update {
      color: white;
      background-color: rgb(0, 145, 255);
      border: 1px solid black;
      border-radius: 10px;
      font-size: 1.2rem;
}

.confirm:active,
.update:active {
      background-color: rgb(113, 191, 250);
}

.input {
      border: 1px solid black;
      border-radius: 10px;
      font-size: 1.2rem;
      width: 75%;
}

.special {
      border: 1px solid black;
      border-radius: 10px;
      font-size: 1.2rem;
      width: 75%;
}

.optionButtons {
      display: none;
}

.img{
      width:50%;
      height:50%;
}

@media only screen and (max-width:768px) {}