/* .login {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      flex-wrap: nowrap;
      overflow: auto;
}

.login .container {
      box-sizing: border-box;
      width: 50vh;
      height: 70vh;
      background: #FFFFFF;
      border: 2px solid #000000;
      border-radius: 80px;
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
}

.login .pic {
      width: 60%;
      border-radius: 90px;
}

.login .login-box {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
}

.login .title {
      font-size: 50px;
}

.login .inp {
      padding: 10px 0 10px 10px;
      margin-bottom: 20px;
      width: 100%;
      border-radius: 25px;
      background-color: bisque;
      font-size: 30px;
}

.login .button {
      margin: 10px 10px 20px 10px;
      padding: 10px;
      width: 100%;
      border-radius: 30px;
      color: white;
      background-color: black;
      font-size: 30px;
}

.login .button:hover {
      cursor: pointer;
}

.login .button:active {
      color: white;
      background-color: dimgray;
}

.login .link {
      font-size: 25px;
      text-decoration: none;
}

.login .icons{
      margin-bottom: 20px;
}

@media (max-width: 1024px) {} */

.login .login-board {
      border: 2px solid black;
      border-radius: 20px;
      background-color: white;
}

.login .pic {
      width: 50%;
      height: 100%;
}

.login .form {
      width: 40%;
      height: 60%;
      justify-content: center;
      align-items: center;
}

.login .input {
      padding: 10px 0 10px 10px;
      margin-bottom: 20px;
      width: 100%;
      border-radius: 25px;
      background-color: bisque;
      font-size: 25px;
      padding-left: 50px;
}

.login .forgot {
      font-size: 25px;
}

.login .forgot:active {
      color: rgb(122, 122, 255)
}

.login .icons {
      width: 50px;
      height: 50px;
      position: absolute;
      margin-bottom: 20px;
      margin-left: 5px;
}

.login .submit {
      margin: 10px 10px 20px 10px;
      padding: 10px;
      width: 100%;
      border-radius: 30px;
      color: white;
      background-color: black;
      font-size: 25px;
}

.login .submit:hover {
      cursor: pointer;
}

.login .submit:active {
      color: white;
      background-color: dimgray;
}

.login .form form {
      justify-content: center;
      align-items: center;
      height: 50%;
}

@media only screen and (max-width:1200px) and (min-height:871px) {
      .login .pic {
            width: 300px;
            height: 300px;
      }
}

@media only screen and (max-width:767px) {
      .login .pic {
            display: none;
      }

      .login .form {
            width: 100%;
            height: auto;
      }

      .login .icons {
            width: 30px;
            height: 30px;
      }

      .login .input {
            padding-left: 30px;
      }
}

@media only screen and (max-width:320px) {
      .login .input {
            font-size: 20px;
      }

      .login .submit {
            font-size: 20px;
      }

      .login .forgot {
            font-size: 20px;
      }
}

@media only screen and (max-height:1079px) {
      .login .form {
            height: 75%;
      }
}

@media only screen and (max-height:870px) {
      .login .form {
            height: 100%;
      }

      .login .form form {
            height: auto;
      }
}

@media only screen and (max-height:870px) and (min-width:768px) {
      .login .pic {
            height: 60%;
            width: 60%;
      }

      .login .form {
            width: 100%;
            height: auto;
      }

      .login .icons {
            width: 30px;
            height: 30px;
      }

      .login .input {
            padding-left: 30px;
      }
}