.nav_bar {
      width: 100%;
      height: 100px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
}

.nav_bar .nav {
      background-color: rgb(255, 255, 255);
      justify-content: space-between;
      visibility: visible;
      border-bottom: 1px solid black;
}

.nav_bar .smart-home {
      height: 95px;
      width: 95px;
      margin-left: 10px;
}

.nav_bar .userpic {
      height: 80px;
      width: 80px;
      margin-right: 20px;
}

.nav_bar .userpic:hover {
      cursor: pointer;
}

.nav_bar .userpic:active {
      color: rgb(150, 150, 150);
}

.nav_bar a {
      font-size: 30px;
}

.nav_bar .tab:active {
      color: rgb(130, 130, 130);
}

.nav_bar .tabs {
      width: 50%;
}

.nav_bar .dropdown {
      display: none;
      position: fixed;
      z-index: 1000;
      margin-top: 10px;
      margin-left: 10px;
      align-self: flex-start;
}

.nav_bar .tab {
      color: black;
      text-decoration: none;
}

.page {
      margin-top: 100px;
      width: 100%;
      height: calc(100% - 100px);
      overflow: auto;
      min-height: 350px;      
}

@media only screen and (max-width:1399px) {
      .nav_bar a {
            font-size: 25px;
      }
}

@media only screen and (max-width:1199px) {
      .nav_bar a {
            font-size: 20px;
      }

      .nav_bar .userpic {
            height: 60px;
            width: 60px;
      }
}

@media only screen and (max-width:991px) {
      .nav_bar a {
            font-size: 18px;
      }
}

@media only screen and (max-width:767px) {
      .nav_bar {
            height: 100%;
            width: 150px;
      }

      .nav_bar .nav {
            justify-content: flex-start;
            transition: visibility 500ms ease-out, opacity 500ms ease-out;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
      }

      .nav_bar .smart-home {
            margin-top: 10px;
            height: 145px;
            width: 145px;
            margin-left: 0;
      }

      .nav_bar .userpic {
            margin-right: 0;
            height: 40px;
            width: 40px;
      }

      .nav_bar a {
            font-size: 20px;
      }

      .nav_bar .tabs {
            margin-top: 15px;
            margin-bottom: 20px;
            height: 30%;
            width: 100%;
      }

      .page {
            margin: 0;
            height:100%;
      }

      .nav_bar .dropdown {
            display: block;
      }
}