.nav {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      position: fixed;
      width: 100%;
      top: 0;
      overflow: auto;
}

.nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
}

.nav ul li {
      margin-left: 50px;
      margin-right: 50px;
}

.nav ul li a {
      color: inherit;
      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: 30px;
      overflow: auto;
}

.nav ul li:hover {
      color: grey;
}

.nav ul li:active {
      color: rgb(71, 71, 71);
}

.userpic {
      height: 70px;
      width: 70px;
      margin-right: 20px;
}

.navpic {
      height: 100px;
      width: 100px;
}

.userpic:hover {
      cursor: pointer;
}

.userpic:active {
      color: rgb(71, 71, 71);
}

.child-page {
      margin-top: 100px;
      height: calc(100% - 100px);
}

.dropdown {
      visibility: hidden;
      top: 10px;
      left: 10px;
      position: fixed;
      color: rgb(0, 0, 0);
      z-index: 2;
}

.dropdown:hover {
      cursor: pointer;
}

.dropdown:active {
      color: rgb(172, 172, 172);
}

/* .close
{
      visibility: hidden;
      color:red;
} */

@media(max-width:1200px) {
      .nav ul li a {
            font-size: 20px;
      }

      .userpic {
            height: 50px;
            width: 50px;
      }

      .group {
            height: 70px;
            width: 70px;
      }

      .navpic {
            height: 80px;
            width: 80px;
      }

      .nav ul li {
            margin-left: 20px;
            margin-right: 20px;
      }
}

@media(max-width:768px) {
      .nav {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            width: 150px;
            visibility: hidden;
      }

      .navpic {
            margin-top: 50px;
      }

      /* .close
      {
            visibility: visible;
      } */

      .nav ul {
            flex-direction: column;
      }

      .nav ul li a {
            font-size: 20px;
      }

      .child-page {
            margin-top: 0;
            height: 100%;
      }

      .nav ul li {
            margin-top: 20px;
            margin-bottom: 20px;
      }

      .userpic {
            margin-right: 0;
      }

      .dropdown {
            visibility: visible;
      }
}