/* .nav {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      position: fixed;
      width: 100%;
      top: 0;
      overflow: auto;
}

.nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
}

.nav ul li {
      margin-left: 50px;
      margin-right: 50px;
}

.nav ul li a {
      color: inherit;
      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: 30px;
      overflow: auto;
}

.nav ul li:hover {
      color: grey;
}

.nav ul li:active {
      color: rgb(71, 71, 71);
}

.userpic {
      height: 70px;
      width: 70px;
      margin-right: 20px;
}

.navpic {
      height: 100px;
      width: 100px;
}

.userpic:hover {
      cursor: pointer;
      color: rgb(163, 163, 163);
}

.userpic:active {
      color: rgb(71, 71, 71);
}

.child-page {
      margin-top: 100px;
      height: calc(100% - 100px);
}

.dropdown {
      visibility: hidden;
      top: 10px;
      left: 10px;
      position: fixed;
      color: rgb(0, 0, 0);
      z-index: 1;
}

.dropdown:hover {
      cursor: pointer;
}

.dropdown:active {
      color: rgb(172, 172, 172);
}

@media(max-width:1200px) {
      .nav ul li a {
            font-size: 20px;
      }

      .userpic {
            height: 50px;
            width: 50px;
      }

      .group {
            height: 70px;
            width: 70px;
      }

      .navpic {
            height: 80px;
            width: 80px;
      }

      .nav ul li {
            margin-left: 20px;
            margin-right: 20px;
      }
}

@media(max-width:768px) {
      .nav {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            width: 150px;
            visibility: hidden;
      }

      .navpic {
            margin-top: 50px;
      }

      .nav ul {
            flex-direction: column;
      }

      .nav ul li a {
            font-size: 20px;
      }

      .child-page {
            margin-top: 0;
            height: 100%;
      }

      .nav ul li {
            margin-top: 20px;
            margin-bottom: 20px;
      }

      .userpic {
            margin-right: 0;
      }

      .dropdown {
            visibility: visible;
      }
}

@media(max-height:400px) and (max-width:768px) {
      .navpic {
            height: 40px;
            width: 40px;
      }

      .userpic {
            height: 20px;
            width: 20px;
      }

      .nav ul li a {
            font-size: 15px;
      }
} */

.nav {
      background-color: rgb(255, 255, 255);
      height: 100px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      overflow: auto;
      visibility: visible;
}

.smart-home {
      height: 100px;
      width: 100px;
      margin-left: 10px;
}

.userpic {
      height: 80px;
      width: 80px;
      margin-right: 20px;
}

.userpic:hover {
      cursor: pointer;
}

.userpic:active {
      color: rgb(150, 150, 150);
}

a {
      font-size: 30px;
}

.tab:active {
      color: rgb(130, 130, 130);
}

.page {
      padding-top: 100px;
      width: 100%;
      height: 100%;
}

.tabs {
      width: 50%;
}

.dropdown {
      display: none;
      position: fixed;
      z-index: 1000;
      margin-top: 10px;
      margin-left: 10px;
      align-self: flex-start;
}

@media only screen and (max-width:1399px) {
      a {
            font-size: 25px;
      }
}

@media only screen and (max-width:1199px) {
      a {
            font-size: 20px;
      }

      .userpic {
            height: 60px;
            width: 60px;
      }
}

@media only screen and (max-width:991px) {
      a {
            font-size: 18px;
      }
}

@media only screen and (max-width:767px) {
      .nav {
            height: 100%;
            width: 150px;
            justify-content: flex-start;
            align-items: center;
      }

      .smart-home {
            margin-top: 10px;
            height: 150px;
            width: 150px;
            margin-left: 0;
      }

      .userpic {
            margin-right: 0;
            height: 40px;
            width: 40px;
      }

      a {
            font-size: 20px;
      }

      .tabs {
            margin-top: 15px;
            margin-bottom: 50px;
            height: 30%;
            width: 100%;
      }

      .page {
            padding-top: 0;
            padding-left: 0;
      }

      .dropdown:first-child {
            display: block;
            margin-top: 10px;
            margin-left: 10px;
            align-self: flex-start;
      }
}

@media only screen and (max-height:450px) and (max-width:767px) {
      .nav {
            height: 450px;
      }
}