/* .sensor-page {
      height: 100%;
}

.sensor-page-board {
      border: 2px solid black;
      border-radius: 20px;
      height: 70vh;
      width: 70vw;
      background-color: white;
}

.sensors {
      margin-top: 2%;
      margin-bottom: 5%;
      border: 2px solid black;
      border-radius: 20px;
      width: 30%;
      height: 70%;
}

.sensors>*:active {
      color: rgb(123, 123, 123);
}

.sensor_image {
      max-height: 100px;
      max-width: 100px;
      width: 100%;
      height: 100%;
}

.sensor-type {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 15%;
}

@media (max-height:1080px) {
      .sensors {
            margin-top: 2%;
            margin-bottom: 3%;
      }
}

@media (max-height:800px) {
      .sensors>* {
            font-size: 30px;
      }

      .title {
            font-size: 30px;
      }

      .sensor_image {
            width: 70px;
            height: 70px;
      }

      .sensor-type {
            margin-top: 0;
      }

}

@media (max-height:480px) {
      .sensors>* {
            font-size: 20px;
      }

      .title {
            font-size: 20px;
      }

      .sensor_image {
            width: 50px;
            height: 50px;
      }

      .sensor-type {
            margin-top: 0;
      }

}

@media(max-width:780px) {
      .sensors>* {
            font-size: 20px;
      }

      .title {
            font-size: 20px;
      }

      .sensor_image {
            width: 50px;
            height: 50px;
      }

      .sensor-type {
            margin-top: 5%;
      }
}

@media(max-height:970px) and (min-width:1200px) {
      .sensor-type {
            flex-direction: row;
            justify-content: center;
      }

      .choose-sensor-type {
            width: 50%;
      }

      .sensors {
            width: 40%;
            height: 70%;
      }
} */

.sensor-page .groups {
      flex-direction: column;
}

.sensor-page .group {
      flex-direction: column;
      justify-content: space-between
}

.sensor-page .sensor-page-board {
      border: 2px solid black;
      border-radius: 20px;
      background-color: white;
}

.sensor-page .sensors {
      border: 2px solid black;
      border-radius: 20px;
      color: black;
      text-decoration: none;
      width: 40%;
      height:100%;
}

.sensor-page .sensors:hover {
      cursor: pointer;
}

.sensor-page .sensor_image {
      height: 80%;
      width: 80%;
      max-height: 150px;
      max-width: 150px;
}

.sensor-page .sensors>p {
      font-size: 20px;
}

.sensor-page .select-sensor {
      margin: auto;
}

@media only screen and (max-width:767px) {
      .sensor-page .sensor_image {
            height: 50px;
            width: 50px;
      }

      .sensor-page .sensors {
            width: 70%;
            height: 40%;
      }

      .sensor-page .group {
            justify-content: space-evenly;
            height: 25%;
      }

      .sensor-page .select-sensor {
            margin: 0;
      }

      .sensor-page .sensors>p {
            font-size: 15px;
      }
}

@media only screen and (max-height:750px) and (max-width:767px) {
      .sensor-page .sensor_image {
            height: 30px;
            width: 30px;
      }

      .sensor-page .sensors>p {
            font-size: 10px;
      }
}

@media only screen and (max-height:820px) and (min-width:768px) {
      .sensor-page .groups {
            flex-direction: row;
      }

      .sensor-page .group {
            justify-content: space-evenly;
      }
}

/*@media only screen and (max-height:540px) and (max-width:767px){
      .groups {
            margin: 0;
      }

      .sensor-page-board {
            padding-bottom: 0;
      }
} */