.App {
  position: relative;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  align-self: center;
  align-content: center;
  align-items: center;
}

#pic{
  display: flex;
}

#login{
  display:inline;
  text-align: center;
  max-width: 350px;
}

#title{
  font-size:70px;
}

.inp{
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 25px;
  background-color: bisque;
  font: 25px;
}

.inpbtn{
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  display:grid;
  width: 100%;
  border-radius: 30px;
  color: white;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

.inpbtn:active{
  margin: 10px;
  padding: 10px;
  display:grid;
  width: 100%;
  border-radius: 25px;
  color: white;
  background-color:dimgray;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

.link{
  display:grid;
  font-size: 25px;
}
